	<div class="modal-header invite-friends-modal-hdr">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Feedback</h3>
	</div>
	<div class="modal-body modal-body-follow modal-inner-space add-event-form">
		<form action="#">
			<fieldset>
	   			<legend class="hide">Feedback</legend>
	   			<ol>
					<li>
	   					<label for="UserFirstname">Your name</label>
	   					<input type="text" class="input-xxlarge" name="data[User][firstname]" value="" />
	   				</li>
					<li>
	   					<label for="UserLastname">Your email</label>
	  					<input type="text" class="input-xxlarge" name="data[User][lastname]" value="" />
	   				</li>
	   				<li class="clr">
	   					<label for="occupation">We would like to hear your feedback</label>
	   					<textarea name="data[User][occupation]" class="input-xxlarge area"></textarea>
	   				</li>
	   			</ol>   			
	   		</fieldset>
   		</form>
	</div>
	<div class="modal-footer">
		<button class="btn pull-left btn-cancel">Cancel</button>
		<button class="btn btn-warning">Send</button>
	</div>