<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="user-msgn-modal">{{md.type}}</h3>
</div>
<div class="modal-body">
	<div class="alert alert-{{md.type.toLowerCase()}} big-alert">
	 	{{md.message}}
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-cancel pull-left" ng-init="btCancel=md.actions[1]">
		{{btCancel.actionName}}
	</button>
	<button class="btn btn-danger btn-confirm" ng-init="btConfirm=md.actions[0]">
		{{btConfirm.actionName}}
	</button>
</div>