<!doctype html>
<!--[if lt IE 7]> <html ng-app="budstime" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html ng-app="budstime" class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html ng-app="budstime" class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="budstime" class="no-js" lang="en"> <!--<![endif]-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Budstime</title>

        <!-- meta -->
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width">

        <!-- author -->
        <link type="text/plain" rel="author" href="humans.txt" />

        <!-- main style -->
        <link href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>
        <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'> -->
        
        <link rel="stylesheet" href="css/style.css">

        <!-- modernizr -->
        <script src="js/libs/modernizr-2.5.3.min.js"></script>

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- GA -->
        <script>
                // var _gaq = _gaq || [];
                // _gaq.push(['_setAccount', 'UA-XXXXXXXX-1']);
                // _gaq.push(['_setDomainName', 'exemple.com']);
                // _gaq.push(['_setAllowLinker', true]);
                // _gaq.push(['_trackPageview']);

                // (function() {
                // var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                // var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                // })();
        </script>

        <!-- script src="https://getfirebug.com/firebug-lite.js"></script -->
</head>
<body>
<p class="hide"><a href="#main-content" tabindex="1">Skip navigation and go to the content</a></p>
<div id="main-content" role="main" ng-controller="budstimeMainCtrl">
        <header id="hd">
                <div class="vcard budslogo">
                        <strong class="fn">
                                <a href="index.html" class="url" rel="me" title="Budstime: go to home">
                                        <img src="img/budstime-logo.png" width="100" height="23" alt="Budstime" />
                                </a>
                        </strong>
                </div>
                <form action="#" id="searchform" method="get">
                        <fieldset>
                                <legend class="hide">Search everthing on Budstime</legend>
                                <input type="text" class="search-query" placeholder="search for people, events and things">
                                <input type="submit" value="Search" class="hide">                               
                        </fieldset>
                </form>
                <div class="nav-logged-user">
                        <div class="pull-left notification-section" ng-controller="notificationsCtrl">
                                <a href="#" class="top-nav-item" ng-click="togglePopover()">
                                         <span class="inbox-icon small-circle pull-right"></span>
                                         <span class="inbox-counter" ng-bind="overall_unread" ng-hide="overall_unread<1">
                                         </span>  
                                </a>
                                <div id="notification-popover" class="popover bottom hide" data-bt-toggle-fade="showNotifications">
                            <div class="arrow"></div>
                            <nav class="notification-hdr">
                                <ul class="group">
                                        <li ng-click="changeTag('global')" ng-class="{ current: showGlobal }">
                                                <span class="pull-right inbox-counter" data-bt-fade-out="general_unread<1">
                                                                        {{general_unread}}
                                                                </span>
                                                                <span class="global-icon n-icon">&nbsp;</span>
                                        </li>
                                        <li ng-click="changeTag('users')" class="middle" ng-class="{ current: showUserRequests }">
                                                <span class="pull-right inbox-counter" data-bt-fade-out="user_unread<1">
                                                                        {{user_unread}}
                                                                </span>
                                                                <span class="user-req-icon n-icon">&nbsp;</span>
                                        </li>
                                        <li ng-click="changeTag('events')" ng-class="{ current: showEventRequests }">
                                                <span class="pull-right inbox-counter" data-bt-fade-out="event_unread<1">
                                                                        {{event_unread}}
                                                                </span>
                                                                <span class="event-req-icon n-icon">&nbsp;</span>
                                        </li>
                                </ul>
                            </nav>
                            <div class="notification-body">
                                    <div class="notification-cat" ng-repeat="cat in notifications" ng-switch on="cat.name">
                                        <div ng-switch-when="general" class="global-notification scroll-box" ng-class="{ zindexDown: !showGlobal}" bt-scroll-shown="showNotifications && showGlobal" bt-scroll-it="cat">
                                                <ul>
                                                        <li ng-repeat="not in cat.notifications" ng-class="{ last: $last, unread: not.unread }">
                                                                <a href="javascript: void(0);" class="profile-link img-inner">
                                                                        <img ng-src="{{getUserInfo(not.user_id, 'image_src')}}" height="26" width="26" alt="{{getUserInfo(not.user_id, 'name')}} profile picture" class="img-circle">
                                                                                </a>
                                                                                <div class="entry">
                                                                                        <div ng-switch on="not.type">
                                                                                                <p ng-switch-when="event_request">
                                                                                                <strong>{{getUserInfo(not.user_id, 'name')}}</strong> has accepted your request to join "<strong>{{not.event_title}}</strong>"
                                                                                                </p>
                                                                                                <p ng-switch-when="friend_request">
                                                                                                <strong>{{getUserInfo(not.user_id, 'name')}}</strong> has accepted you as a friend.</strong>
                                                                                                </p>
                                                                                        </div>
                                                                                        <time>{{pretty_date(not.when)}}</time>
                                                                                </div>
                                                                        </li>
                                                </ul>
                                        </div>
                                        <div ng-switch-when="user_request" class="user-notification scroll-box" ng-class="{ zindexDown: !showUserRequests}" bt-scroll-shown="showNotifications && showUserRequests" bt-scroll-it="cat">
                                                <ul>
                                                        <li ng-repeat="not in cat.notifications" ng-class="{ last: $last, unread: not.unread }">
                                                                <a href="javascript: void(0);" class="profile-link img-inner">
                                                                        <img ng-src="{{getUserInfo(not.user_id, 'image_src')}}" height="26" width="26" alt="{{getUserInfo(not.user_id, 'name')}} profile picture" class="img-circle">
                                                                                </a>
                                                                                <div class="entry">
                                                                                        <p>
                                                                                                <strong>{{getUserInfo(not.user_id, 'name')}}</strong> would like to add you. 
                                                                                        </p>
                                                                                        <button class="btn btn-small btn-success">accept</button>
                                                                                        <button class="btn btn-small btn-decline">decline</button>
                                                                                        <time>{{pretty_date(not.when)}}</time>
                                                                                </div>
                                                                        </li>
                                                </ul>
                                        </div>
                                        <div ng-switch-when="event_request" class="event-notification scroll-box" ng-class="{ zindexDown: !showEventRequests}" bt-scroll-shown="showNotifications && showEventRequests" bt-scroll-it="cat">
                                                <ul>
                                                        <li ng-repeat="not in cat.notifications" ng-class="{ last: $last, unread: not.unread }">
                                                                <a href="javascript: void(0);" class="profile-link img-inner">
                                                                        <img ng-src="{{getUserInfo(not.user_id, 'image_src')}}" height="26" width="26" alt="{{getUserInfo(not.user_id, 'name')}} profile picture" class="img-circle">
                                                                                </a>
                                                                                <div class="entry">
                                                                                        <p>
                                                                                                <strong>{{getUserInfo(not.user_id, 'name')}}</strong> would like to join "<strong>{{not.event_title}}</strong>"
                                                                                        </p>
                                                                                        <button class="btn btn-small btn-success">accept</button>
                                                                                        <button class="btn btn-small btn-decline">decline</button>
                                                                                        <time>{{pretty_date(not.when)}}</time>
                                                                                </div>
                                                                                
                                                                        </li>
                                                </ul>
                                        </div>
                                    </div>
                            </div>
                            <div class="notification-ft">
                                <a href="#" class="see-all-btn btn-gray">
                                        see all notifications
                                </a>
                            </div>
                        </div>                          
                        </div>
                        <div class="btn-group logged-user">
                          <a class="dropdown-toggle top-nav-item" data-toggle="dropdown" href="#" id="dLabel">
                                <span class="caret"></span>
                            <span class="img-inner">
                                <img src="img/profile/ronaldo-26x26.jpg" height="26" width="26" alt="Ronaldo profile picture" class="img-circle">
                            </span>
                          </a>
                          <ul class="dropdown-menu pull-right" aria-labelledby="dLabel"> 
                                <li class="naked-label"><strong>Ronaldo Luiz</strong></li>
                                <li><a href="#">Account settings</a></li>
                                <li class="divider"></li>
                            <li><a href="#">Log out</a></li>
                          </ul>
                        </div>
                </div>
        </header>
        <div id="content" class="group" ng-controller="userInfosCtrl" ng-cloak>
                <div class="col-narrow pull-left col-margin">
                        <div class="text-space">
                                <time class="today-text"><span class="arrow-icon">&raquo;</span> <strong class="highlight-text">Thursday</strong>, October 11, 2012</time>
                        </div>
                        <section class="user">
                                <div class="btm-small-separator big-profile-picture" ng-init="userIsFriend=false;">
                                        <a href="#" title="Go to profile page">
                                                <img src="img/profile/ronaldo-195x195.jpg" height="195" width="195" alt="Ronaldo profile picture" class="rd">
                                        </a>
                                        <button class="btn pull-left btn-friend-actions" bt-is-friend="userIsFriend">
                                                <span class="user-req-icon n-icon pull-left">&nbsp;</span>
                                                <span class="friend btn-text" ng-click="userIsFriend=false;">
                                                        <span class="default">Friend</span>
                                                        <span class="text-error hover hide">Remove friend</span>
                                                </span>
                                                <span class="not-friend btn-text hide" ng-click="userIsFriend=true;">
                                                        <span class="default">Not a Friend</span>
                                                        <span class="text-success hover hide">Add as friend</span>
                                                </span>
                                        </button>
                                </div>  
                                <div class="user-info">
                                        <h1 class="medium-header">Ronaldo Luiz</h1>
                                        <ul class="list">
                                                <li><span class="calendar-icon user-icon"></span> Born on <em class="dark-gray">September 20, 1976</em></li>
                                                <li><span class="job-icon user-icon"></span> Works at <em class="dark-gray">9nine</em></li>
                                                <li><span class="study-icon user-icon"></span> Studied at <em class="dark-gray">UNIRIO</em></li>
                                        </ul>
                                </div>
                                <div class="bordered-box rd hide" ng-init="showFollowers=false">
                                        <ul class="group follow-box">
                                                <li class="pull-left">
                                                        <a href="#follow-modal" class="follow-item first show-follow-list" role="button" data-toggle="modal" ng-click="showFollowers=false">
                                                                <span class="upper">Followers</span> <strong class="big">{{followers.length}}</strong>
                                                        </a>
                                                </li>
                                                <li class="pull-right">
                                                        <a href="#follow-modal" class="follow-item show-follow-list" role="button" data-toggle="modal" ng-click="showFollowers=true">
                                                                <span class="upper">Following</span> <strong class="big">{{following.length}}</strong>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                                <div id="follow-modal" class="modal small-width hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                                          <div class="modal-header follow-modal-hdr">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <ul class="follow-tabs group">
                                                        <li ng-class="{ current: showFollowers, first: true }">
                                                                <a href="javascript: void(0);" ng-click="showFollowers=true">
                                                                        {{following.length}} friends
                                                                </a>
                                                        </li>
                                                </ul>
                                          </div>
                                          <div class="modal-body modal-body-follow">
                                                <div class="follow-search">
                                                        <input type="text" class="filter-user-input" placeholder="Filter following by name..." ng-model="filterFollowing" ng-hide="!showFollowers">
                                                        <input type="text" class="filter-user-input" placeholder="Filter followers by name..." ng-model="filterFollowers" ng-hide="showFollowers">
                                                </div>
                                                <div class="follow-lists-wrapper">
                                                        <div id="following-list" class="follow-list scroll-wrapper group" ng-class="{ zindexDown: !showFollowers}" bt-scroll-it="following" bt-max-itens="5" bt-modal="#follow-modal">
                                                                <ul>
                                                                        <li ng-repeat="u in following|filter:filterFollowing" ng-class="{ last: $last }" ng-init="u.name=getUserInfo(u.id, 'name')">
                                                                                <a href="#" class="group">
                                                                                        <span class="img-inner event-owner" title="{{getUserInfo(u.id, 'name')}}">
                                                                                                <img ng-src="{{getUserInfo(u.id, 'image_src')}}" height="37" width="37" alt="{{getUserInfo(u.id, 'name')}} picture" class="img-circle">
                                                                                        </span>
                                                                                        <span class="user-name">{{getUserInfo(u.id, 'name')}}</span>
                                                                                </a>
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                        <div id="followers-list" class="follow-list group" ng-class="{ zindexDown: showFollowers}" bt-scroll-it="following" bt-max-itens="5" bt-modal="#follow-modal">
                                                                <ul class="group">
                                                                        <li ng-repeat="u in followers|filter:filterFollowers" ng-class="{ last: $last }" ng-init="u.name=getUserInfo(u.id, 'name')">
                                                                                <a href="#" class="group">
                                                                                        <span class="img-inner event-owner" title="{{getUserInfo(u.id, 'name')}}">
                                                                                                <img ng-src="{{getUserInfo(u.id, 'image_src')}}" height="37" width="37" alt="{{getUserInfo(u.id, 'name')}} picture" class="img-circle">
                                                                                        </span>
                                                                                        <span class="user-name">{{getUserInfo(u.id, 'name')}}</span>
                                                                                </a>
                                                                        </li>                                                           
                                                                </ul>
                                                        </div>  
                                                </div>
                                                <div class="modal-footer-follow"></div>                         
                                          </div>                                          
                                        </div>
                        </section>
                        <section class="section-following btm-separator hide">
                                <h2 class="gray-header upper-small rd">Friends</h2>
                                <ul class="following-list hrz-list group">
                                        
                                        <li ng-repeat="(key, u) in following | limitTo:3">
                                                <a href="javascript: void(0);" class="img-inner" data-tooltip-it="following" title="{{getUserInfo(u.id, 'name')}}">
                                                        <img ng-src="{{getUserInfo(u.id, 'image_src')}}" height="44" width="44" alt="{{getUserInfo(u.id, 'name')}}" class="rd">
                                                </a>
                                        </li>
                                        
                                        <li class="last" ng-show="following.length > 3">
                                                <a href="#follow-modal" ng-click="showFollowers=true" class="btn-large btn-gray attending-item" role="button" data-toggle="modal" >+{{following.length-3}}</a>
                                        </li>
                                </ul>   
                        </section>
                </div>
                <div class="col-wide-x pull-left">
                        <div class="top-space"></div>
                        <div class="alert alert-info group unknown-friend-alert">
                                <p><strong>Romario</strong> is not your friend yet.</p>
                                <button class="btn pull-left btn-friend-actions">
                                        <span class="user-req-icon n-icon pull-left">&nbsp;</span>
                                        <span class="text-success">Add as friend</span>
                                </button>
                        </div>
                        <section class="section-following btm-separator">
                                <h2 class="gray-header upper-small rd">Friends</h2>
                                <ul class="following-list hrz-list group">
                                        
                                        <li ng-repeat="(key, u) in following | limitTo:13" class="mr-9">
                                                <a href="javascript: void(0);" class="img-inner" data-tooltip-it="following" title="{{getUserInfo(u.id, 'name')}}">
                                                        <img ng-src="{{getUserInfo(u.id, 'image_src')}}" height="44" width="44" alt="{{getUserInfo(u.id, 'name')}}" class="rd">
                                                </a>
                                        </li>
                                        
                                        <li class="last" ng-show="following.length > 13">
                                                <a href="#follow-modal" ng-click="showFollowers=true" class="btn-large btn-gray attending-item" role="button" data-toggle="modal" >+{{following.length-13}}</a>
                                        </li>
                                </ul>   
                        </section>
                        
                </div>
        </div>
        <footer id="ft" class="hide"></footer>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.2.min.js"><\/script>')</script>
<script src="js/libs/angular.min.js"></script>
<script src="js/bs/bootstrap-dropdown.js"></script>
<script src="js/bs/bootstrap-tooltip.js"></script>
<script src="js/bs/bootstrap-datepicker.js"></script>
<script src="js/bs/bootstrap-timepicker.js"></script>
<script src="js/bs/bootstrap-modal.js"></script>
<script src="js/bs/bootstrap-alert.js"></script>
<script src="js/jq/jquery.maskedinput-1.3.min.js"></script>
<script src="js/jq/jquery.jcarousel.min.js"></script>
<script src="js/app/budstime.modals.js"></script>
<!-- scroll -->
<script src="js/jq/scroll/jquery.jscrollpane.min.js"></script>
<script src="js/jq/scroll/jquery.mousewheel.js"></script>
<script src="js/jq/scroll/mwheelIntent.js"></script>
<!-- /scroll -->
<script src="js/jq/jquery.textarea.autoresize.js"></script>
<!-- angular controllers -->
<script src="js/app/events.controller.js"></script>
<script src="js/app/groups.controller.js"></script>
<script src="js/app/upcoming.controller.js"></script>
<script src="js/app/userinfos.controller.js"></script>
<script src="js/app/notifications.controller.js"></script>
<script src="js/app/buds.controller.js"></script>
<script src="js/app/eventform.controller.js"></script>
<script src="js/app/main.controller.js"></script>
<!-- /angular controllers -->
<!-- angular directives -->
<script src="js/app/budstime.directives.js"></script>
<script src="js/app/budstime.utils.js"></script>
<script src="js/app/calendar.nav.js"></script>
<!-- /angular directives -->
</body>
</html>